@import url('http://fonts.googleapis.com/css?family=Droid+Sans');
/* ===========================
 * Définition des styles de base
 * ========================== */

 html, body {
 	font-family: "Droid sans", Helvetica;
 	width: 100%;
 	height: 100%;
 	overflow: hidden;
 }

body {
	margin: 0;
	background-color: #203748;
}

footer {
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: #f04949;
}

a {
	text-decoration: none;
	color: white;
}

/* ===========================
 * Social
 * ========================== */
#reseaux {
	height: 50px;
	width: 100%;
	margin:0px auto;

	background-color: tomato;
}

ul{ list-style: none; display: inline-block;}
li{ display: inline-block;}

#reseaux a{
	display: block;
	width: 200px;
	border-right: 1px solid white;
	text-align: center;
}

/* ===========================
 * Corps
 * ========================== */
section {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

/* On aligne les avatars */
div.friends {
	float: left;
}

/* Popup  */
a.popup
{
	margin: 5px 5px 0px 0px;
    position:relative;
    z-index:24; 
}

img{
	margin: 10px;
}
a.popup:hover {
	z-index:25; 
}

a.popup span{display: none}

a.popup:hover span
{
    display: block;
    position: absolute;
    top: 0.1em; 
    left: 0.1em; 
    width: 250px;
    padding: 5px 10px 0px 10px;
 	border-left: 5px solid tomato;
    background-color: white; 
    color: black;
}

p.pseudo{
	font-style: italic;
}

p.description{
	font-size: 15px;
	text-align: justify;
	text-justify: inter-word;
}

/* ===========================
 *	Footer
 * ========================== */
footer {
	bottom: 0px;
	clear: both; 
	text-align: center;
}

footer a{
	display: block;
	padding-top: 20px;
}













